# Xmake cache
.xmake/

# debug build dir
cmake-build-debug/

# CI/general build dir
build/


# clangd cache from zed
.cache/

# MacOS Cache
.DS_Store

# CLion user-specific files
.idea/workspace.xml
.idea/tasks.xml

# local brainstorm text files
.kbrainst

# user-specific degug configuration files
# @alias $XDG_CONFIG_HOME/kup
# @alias_fallback
.usr_test_cfg

.zig-cache
